body{
    font-family: 'Times New Roman', Times, serif;

}

.navbar{
    background:black;
    box-shadow: 0 2px 4px rgba(0,0,0,.02);
    min-height: 90px;
    
}

.nav-link{
    color: coral;
}

.nav-link:hover{
    color: cyan;
}


    .logo-brand{
        min-width: 5px;
        max-width: 40px;
    }
